/target/
.classpath
.DS_Store
*.prefs
.settings/
*/target/*
*/Safe Space Decentralize Exchange - Admin_files/* 
target/classes/com/safespace/controller/AdminController.class
target/
*.class
target/classes/com/safespace/service/StellarService.class
target/classes/templates/admin.html
