html,body,.container {
    height:100%;
	font-family: "Open Sans";
}
.container {
    display:table;
    width: 100%;
    padding: 0px; /*set left/right padding according to needs*/
    box-sizing: border-box;
}

.row {
    height: 100%;
    display: table-row;
}

.row .no-float {
  display: table-cell;
  height:100%;
  padding:0px;
}


.left-navi-dashboard {
	background-color: #2c3247;
}

.header-logo {
	padding:35px;
}

.left-navi {
	padding:0px !important;
}

.left-navi li {
	color:#e3e3e3;
	display: block;
	padding:20px;
	font-size:16px;
	cursor:pointer;
}

ul.left-navi a {
	color: #e3e3e3 !important;
}

ul.left-navi a:hover {
	text-decoration: none;
} 
.left-navi li.active {
	background-color:#1f253e;
	color: #21bfd7;
	border-left:5px solid;
}

.left-navi a.active {
	color: #21bfd7 !important; 
}


.left-navi img {
    filter: brightness(100);
	padding-right:20px;
}

.navbar-brand>img {
	display:inline !important;
}

.left-navi img.activeImg {
	filter : none !important;
}


.navbar-inverse {
	background-color:#2c3247 !important;
	border-radius: 0px !important;
	padding:10px;
	border-left: 1px solid gray;
}

.addressUser {
	font-size:14px;
}

.blue-button {
	border-radius: 20px;
    width: 79px;
    background-color: #22bfd7;
    border: 0px;
    color: #e3e3e3;
}

.white-button {
	background-color: transparent !important;
	border: 1px solid #e3e3e3;

}

.asset-box {
	color:#e3e3e3;
	background-color:#2c3247;
	padding:10px;
	border-radius :10px;
	margin-left:20px;
	margin-top:10px;
	cursor:pointer;
}

.asset-box-white {
	background: transparent !important;
    color: #2c3247 !important;
    box-shadow: 1px 1px 8px #888888;
	cursor:pointer;
}

.asset-box-white input {
	 background-color: transparent !important;
    border: 1px solid #2c3247 !important;
    color: #2c3247 !important;
}

.text-right {
	text-align:right;
}

.float-right {
	float:right;
}

.fontSize-25 {
	font-size: 25px;
}

.fontSize-20 {
	font-size: 20px;
}

.padding-bottom20px {
	padding-bottom:30px !important;
}

.asset-box div {
	padding-bottom: 10px;
}

.activateAccount {
	padding:30px;
}


.modal-header {
	background:#2c3247;
	color: white;
}

.activateAccount .header {
	padding:10px;
	height:50px;
	background:#2c3247;
	color: #e3e3e3;
}

.activateAccount .content {
	padding:70px;
	border:1px solid lightgray;
}

.activateAccount .yourWallet {
	background: lightgray;
    padding: 10px;
	margin-bottom:36px;
}

.buylumen {
    width: 158px;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

.createAsset {
    position: absolute;
    bottom: 7px;
    right: 14px;
}


.grayBg {
	background-color: #858AA0;
    padding: 8px;
    border: 1px solid white;
    text-align: center;
    color: #e3e3e3;
}

.border-radius-left {
	    border-radius: 8px 0px 0px 7px;
}


.border-radius-right {
	    border-radius: 0px 8px 8px 0px;
}


.modal-body div {
	margin-top:10px;
}


.paddingTop-14px {
	padding-top:14px;
}

.latest-transaction {
	margin-top:50px;
	
}


.transaction-title {
	font-size:25px;
}

.exchage-graph {
	text-align:center;
}

.orderbook-form {
	padding:20px;
	font-size: 16px;
    display: block !important;
    min-height: 200px;
    max-height: 480px;
    overflow: scroll;
}

.order-header {
	height: 50px;
    background: #d3d3d34d;
    padding: 16px;
    font-size: 16px;
}

.padding-top20px {
	padding-top:20px;
}

#processOffer, #processOfferConsumer {
	width: auto !important;
	position:relative;
	float:right;
}

.textCenter {
	text-align:center;
}

.header-listOrder {
	background: #d3d3d34d;
	padding:10px;
}

.dd_assets{
	width:100%!important;
	text-align: left;
}

.dd_assets .caret {
	    position: relative;
    float: right;
    top: 9px;
	
}

#buyAssets, #sellAssets {
	width:100%!important;
}